.custom-title {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  color: #333;
  font-size: 3vw;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
}

.container1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    margin-top: 2vw;
    background-color: none !important;
    /* height: 60vh; */
    border-radius: 2vw;
    position: relative;
    top: 0;
}