*{
    background-color: burlywood;
}

.profile-container{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 0 auto;
    color: white;
}



.profile-container img{
    border-radius: 50%;
    width: 100%;
}

.profile-container a{
    list-style: none;
    text-decoration: none;
    color: white;
}