.content{
    display: flex;
    justify-content: center;
    background-color: wheat;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3vw;
    font-weight: bold;
    margin: 0 auto;
    position: relative;
    /* top: 1vw; */
    bottom: 3vw;
    width: 50%;
}